timezone: UTC

server_pro_landing_url_bonyan: "/profile/subscription/landing"
server_newhome_desktop_section_count: 3
server_write_db_port: 3306
server_api_secret_key: 123456
server_vendor_type: "vendor"
server_recommended_product_sort_type: "master"
server_ramadan_respect: false
server_website_supertype_exclude: ""
server_new_elastic_username: ""
server_ramadan_avini: true
server_cluster_redis_addresses: "192.168.200.162:7001,192.168.200.162:7002,192.168.200.162:7003,192.168.200.162:7004,192.168.200.162:7005,192.168.200.162:7006"
server_grpc_cpc_url: "auctioneerg.snappfood.dev:9080"
server_ramadan_category_image: "https://cdn.snappfood.ir/uploads/images/review-app/icons/ramadan/supertype_category_ramadan_403.png"
server_exclude_supermarket: true
server_grpc_feedback_active: false
server_eco_food_collection_id: 102349
server_search_order_index: "ordinary_order"
server_grpc_cpc_active: false
server_stock_reserve_redis_db: 4
server_grpc_feedback_url: "adsfeedbackg.snappfood.dev:9080"
server_search_redis_password: ""
server_api_debug_key: "VqG8ZDaJ"
server_panel_db_db: "panel"
server_grpc_active: true
server_top_collection_id: 277
server_base_elastic_insecure_tls: ""
server_new_relic_config_proxy: "http://192.168.100.130:8888"
server_search_read_db_port: 3306
server_grpc_bidding_update_channels: ""
server_secret_token: "xxxxxxx"
server_read_db_password: "xxxxxxx"
server_read_db_user: "staging_user"
server_deeplink_domain: "snappfood.ir"
server_search_slider_index: "snappfood_app_slider_dev"
server_food_pro_plan_id: ""
server_search_product_type: "product_variation"
server_happy_hour_end_hour: 1439
server_ground_dist_delivery_support: true
server_pick_of_the_week_sort_active_by_default_channels: "alpha"
server_ramadan_saba_product_image: "https://cdn.snappfood.ir/uploads/images/review-app/icons/ramadan/product_ramadan_403.png"
server_ramadan_start_date: "2025-01-10 00:00:00"
server_osrm_redis_host: "localhost:6379"
server_search_slider_new_index: "slider"
server_rank_secret_key: 123456
server_dist_step_specific_polygon: ""
server_write_db_password: "xxxxxxx"
server_ramadan_saba_vendor_image: "https://cdn.snappfood.ir/uploads/images/mobile-sliders/ramadan_vendor_cover_403.png"
server_searchia_index: "product_stg"
server_write_db_db: "search_db"
server_pickup_open: ""
server_services_update_channels: "QA,master"
server_pro_update_channels: "alpha"
server_newhome_redis_password: ""
server_foodstory_update_channels: "NA"
server_new_filter_update_channels: "master,QA"
server_searchia_api_key: "xxxxxxx"
server_trending_words_update_channels: "master"
server_new_elastic_port: 9001
server_ramadan_product_image: "https://cdn.snappfood.ir/uploads/images/review-app/icons/ramadan/product_ramadan_403.png"
server_bidding_domain: "bidding-back.snappfood.dev"
server_grpc_url: "192.168.200.161:9010"
server_food_party_host: "staging.snappfood.dev"
server_auth_session_url: "https://staging-api.snappfood.ir/mobile/v2/user/info"
server_pro_expiration_threshold: 7
server_vendor_status: "ACTIVE,MENU_UPDATE,CLOSED_VENDOR_BUSY,CLOSED_ORDER_CANCELLATION,EXPRESS_CLOSED,SPECIAL_DAY_CLOSED,WITHOUT_INTERNET,CLOSED_NO_MENU,SUSPEND_DELAY,CLOSED_PARTIAL"
server_pwa_hybrid_landing_super_type_count_threshold: 5
server_bulk_tread_count: 10
server_newhome_redis_db: 3
server_sort_badge: "جدید"
server_campaign_end_date: "2020-01-17 23:59:59"
server_ramadan_sahar: 316
server_port: ":8095"
server_new_impression_update_channels: "master"
server_new_cuisine: true
server_stock_redis_host: "192.168.200.162:6379"
server_campaign_active: false
server_search_cosmetic_id: 12
server_base_elastic_username: ""
server_search_read_db_user: "staging_user"
server_search_vendor_new_index: "vendor"
server_searchia_host: "Searchia.ir"
server_new_design_update_channels: "alpha"
server_happy_hour_start_hour: 0
server_searchia_enable_personalization: ""
server_scheme: "https"
server_search_deal_vendor_index: "staging_index"
server_user_specific_sort: false
server_newhome_redis_host: "localhost:6379"
server_write_db_user: "staging_user"
server_campaign_start_date: "2020-01-05 00:00:00"
server_search_product_new_index: "product"
server_ground_dist_support: false
server_sentry_allowed: ""
server_quick_access_update_channels: "master"
server_grpc_food_story_active: false
server_party_redis_password: ""
server_foodpro_redis_db: 7
server_osrm_redis_password: ""
server_sentry_dsn: ""
server_search_vendor_index: "snappfood_vendor_new"
server_grpc_shop_attribute_url: "attributes.snappfood.ir:9080"
server_searchia_suggestion_index: "suggestion"
server_ramadan_saba_supertype_image: "https://cdn.snmartin.ir/uploads/images/review-app/icons/ramadan/supertype_category_ramadan_403.png"
server_new_elastic_password: ""
server_pro_landing_url: "/subscription/landing"
server_happy_hour_duration: 180
server_search_read_db_password: "xxxxxxx"
server_iranian_eco_tag: "1,2,3,4,5,6"
server_pro_banner_active: true
server_party_redis_host: "localhost:6379"
server_category_open: ""
server_grpc_ubs_active: false
server_pro_membership_id: 72
server_ramadan_eftar: 1197
server_search_order_type: "ordinary_order_type"
server_ramadan_saba_category_image: "https://cdn.snappfood.ir/uploads/images/review-app/icons/ramadan/supertype_category_ramadan_403.png"
server_replace_catastrophe: true
server_shop_url: "https://shop.snappfood.ir"
server_sort_open: ""
server_vendor_list_food_party_rank: 1
server_cashback_host: "api-stg.snappfood.dev"
server_stock_redis_password: ""
server_special_super_type_new_version: 1
server_newhome_foodstory_update_channels: "alpha,master,QA"
server_newhome_section_count: 1000
server_foodparty_campaign_sort: true
server_search_read_db_host: "192.168.200.174"
server_auth_session_domain: "staging-api.snappfood.ir"
server_per_meal_update_channels: ""
server_special_log_to_file: false
server_new_design_services_update_channels: "alpha,QA,master"
server_log_to_file: false
server_new_relic_config_name: "SEARCH_DEVELOP"
server_geo_precision: 4
server_grpc_food_story_url: "foodstoryg.snappfood.dev:9080"
server_campaign_title: "kebab,pizza,foreign,irani,burger,pizza,kebab"
server_search_product_index: "snappfood_search"
server_new_relic_config_license: "eu01xx6463ce00ff7d6adc1ff8decef09f9eNRAL"
server_stock_reserve_redis_host: "192.168.200.162:6379"
server_market_query_limit: 200
server_develop_mode: true
server_eta_active: true
server_slider_type: "snappfood_app_slider"
server_new_vendor_list: true
server_stock_reserve_redis_password: ""
server_foodpro_redis_host: "localhost:6379"
server_resource_id: "snappfood-search"
server_panel_db_password: "xxxxxxx"
server_search_redis_host: "localhost:6379"
server_base_elastic_password: ""
server_pwa_hybrid_landing_super_types: 3
server_search_read_db_db: "search_db"
server_market_party_bypass: false
server_commission_sort_update_channels: "alpha"
server_ubs_dismissed_count_threshold: 5
server_sorts_with_badge: "user_base_sort"
server_ramadan_vendor_image: "https://cdn.snappfood.ir/uploads/images/mobile-sliders/ramadan_vendor_cover_403.png"
server_party_disabled_on_menu: ""
server_ramadan_end_date: "2025-03-30 23:59:59"
server_search_redis_db: 3
server_recommended_product_update_channels: "master"
server_bidding_hard: false
server_eta_update_channels: "alpha,master"
server_search_slider_type: "app_slider_type"
server_search_vendor_type: "vendor"
server_searchia_update_channels: "alpha"
server_osrm_redis_db: 3
server_grpc_shop_attribute_active: false
server_panel_db_port: 3306
server_stock_redis_db: 3
server_read_db_port: 3306
server_log_path: "/var/log"
server_happy_hour_active_duration: 0
server_hard_catastrophe: 3000
server_panel_db_host: "192.168.200.174"
server_disable_filter_sort_ids: "36,34"
server_party_redis_db: 6
server_new_relic_active: true
server_api_domain: "staging.snappfood.dev"
server_happy_hour_inactive_duration: 0
server_category_render_type_update_channels: "alpha"
server_vendor_list_banner_ignore: false
server_ramadan_supertype_image: "https://cdn.snappfood.ir/uploads/images/review-app/icons/ramadan/supertype_category_ramadan_403.png"
server_delivery_service_vendors_list_fallback_mode: false
server_fresh_page_super_types: "5,6,11"
server_allowed_origins: "*"
server_panel_db_user: "panel_usr"
server_read_db_host: "192.168.200.174"
server_searchia_suggestion_api_key: "kTVXDXwbWeDUYFdiNzf7TJFDP2V7049x"
server_base_elastic_port: 9001
server_auth_introspect_url: "https://staging-auth.snappfood.dev/introspect"
server_foodpro_redis_password: ""
server_eta_own_delivery_update_channels: "QA,master"
server_bidding_hard_id: 37429
server_read_from_panel: true
server_ads_banner_hash_salt: "Biddign1354CampP6578ackSalt"
server_resource_secret: "3pCBZ97JPvGgLvGV"
server_write_db_host: "192.168.200.174"
server_homepage_distance_sort: 3000
server_special_super_types: "12,10,13,4,14"
server_new_elastic_insecure_tls: ""
server_read_db_db: "zoodfood_db"
server_super_type_rank_booster_update_channels: ""
server_base_elastic_host: "http://192.168.104.165"
server_free_delivery_membership_id: 77
server_grpc_ubs_url: "192.168.200.135:8017"
server_user_base_sort_active_by_default_channel: "alpha"
server_bidding_hard_click_id: "randomclickid"
server_new_elastic_host: "http://192.168.104.165"
elastic_apm_secret_token: ""
elastic_apm_active: ""
elastic_apm_service_name: "staging-search"
elastic_apm_server_url: "http://192.168.104.165:8200"
elastic_apm_service_node_name: ""
